* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  margin-top: 140px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
em,
i,
strong,
mark,
a,
img {
  margin: 0;
  padding: 0;
}

.wrapper {
  /* width: 1540px; */
  margin-left: 20px;
  margin-right: 20px;
  margin: auto;
  position: relative;
}

.container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

/* header section start  */

.wrapper-header {
  background-image: url(../images/header_background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 818px;
  margin: auto;
}

.logo-site {
  width: 140px;
  height: 59px;
  margin-top: 51px;
  margin-right: 80px;
}

.header {
  /* margin-left: 126px; */
  display: flex;
  /* margin-top: 51px; */
}

.links-row {
  display: flex;
  list-style-type: none;
}

.header-sites {
  margin-top: 68px;
}

.site-links {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-right: 30px;
  text-decoration: none;
  text-decoration: unset;
  text-transform: uppercase;
}

/* header section end  */

.main-sections-wrapper {
  background-image: url(../images/main_background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  /* height: 1820px; */
  margin: auto;
  padding-bottom: 90px;
}

/* platform section start  */

.designation {
  position: relative;
}

.main-section {
  background: linear-gradient(180deg, rgba(50, 42, 39, 0) 0%, rgba(45, 40, 40, 0.85) 33.85%, #2D2828 49.48%, #2D2828 68.75%, #2D2828 82.29%, #2D2828 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: -15px 0px 15px rgba(0, 0, 0, 0.3);
  width: 1000px;
  padding-bottom: 1300px; 
  position: absolute;
  top: -590px;
  left: 0px;
  margin: auto;
}

.platform-name {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 89px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 65px;
  margin-top: 76px;
}

.platform-info {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 65px;
  margin-bottom: 30px;
}

.platform-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.8%;
  color: #FFFFFF;
  width: 455px;
  margin-left: 67px;
  margin-bottom: 25px;
}

.platform-form {
  margin-left: 65px;
}

.communication-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 50px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 35px;
  padding-right: 131px;
  background-color: transparent;
}

.platform-button {
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.4);
  border: 2px solid #FF1640;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: transparent;
  padding: 9px 22px;
  margin-bottom: 80px;
}

/* platform section end  */

.line {
  width: 960px;
  height: 2px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}


/* sites-section start  */

.sites-lists {
  list-style-type: none;
  display: flex;
  align-items: center;
  position: absolute;
  top: -50px;
}

.social-networks {
  margin-left: 71px;
}

.address {}

.network-image {}


.marketing-section-images {
  list-style-type: none;
  display: flex;
  margin-bottom: 60px;
}

.marketing-image-lists {
  margin-top: 30px;
}

.marketing-image1 {
  width: 314px;
  height: 262px;
  margin-left: 67px;
  margin-top: 150px;
  position: absolute;
}

.marketing-image2 {
  width: 313px;
  height: 262px;
  position: absolute;
  left: 340px;
  top: 110px;
  z-index: 1;
}

.marketing-image3 {
  width: 313px;
  height: 262px;
  margin-top: 150px;
  position: absolute;
  left: 616px;
}

/* sites-section end  */



/* marketing section start */

.marketing-section {
  position: absolute;
  top: 480px;
  align-items: center;
}

.marketing-section-opener {
  margin-bottom: 63px;
}

.marketing-section-title {
  text-transform: uppercase;
  margin-left: 211px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  color: #FFFFFF;
  display: inline;
}

.lines {
  display: inline-block;
  width: 240px;
  border-bottom: dashed 2px rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 17px;
}

.marketing-button {
  background: linear-gradient(180deg, #864A23 0%, #6A3A1B 100%);
  border-radius: 20px; 
  padding: 5px 22px;
  border: 0;
  margin-left: 279px;
}

.marketing-button::before {
  display: inline-block;
  content: "";
  background-image: url(../images/pen.png);
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

.comment-images {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 640px;
  top: 6px;
}

.won {
  width: 35px;
  height: 35px;
  background: #FF1640;
  border-radius: 50%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 149.8%;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 79px;
  border: 0;
}

.marketing-person {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 149.8%;
  color: #FFFFFF;
  margin-left: 9px;
  margin-right: 101px;
}

.dismiss-button {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 149.8%;
  color: #2D2828;
  background: url(../images/main_background.jpg), #C4C4C4;
  border-radius: 50px;
  border: 0;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-right: 14px;
  padding-left: 41px;
  margin-bottom: 25px;
}

.dismiss-button::before {
  content: "";
  background-image: url(../images/dismiss.png);
  width: 28px;
  height: 27px;
}

.marketing-person-card-first {
 display: flex;
 margin-bottom: 94px;
}

.marketing-person-card-left {
  background-image: url(../images/main_background.jpg);
  margin-left: 77px;
  width: 478px;
  padding-left: 17px;
  padding-right: 24px;
  padding-bottom: 23px;
  padding-top: 14px;
  display: flex;
  margin-right: 74px;
}

.person-info-left {
  display: flex;
  width: 130px;
}

.person-image {
  width: 55px;
  height: 55px;
  margin-right: 17px;
}

.image-wrapper {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 210px;
  left: 150px;
}

.person-info {
  margin-right: 35px;
}

.person-name {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 149.8%;
  color: #2D2828;
  margin-right: 34px;
}

.person-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.8%;
  color: rgba(45, 40, 40, 0.7);
}

.person-info-right {
margin-left:40px;
margin-top: 5px;
}

.person-text-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 149.8%;
  color: #2D2828;
  margin-bottom: 11px;
}

.person-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 149.8%;
  color: #2D2828;
  width: 256px;
  margin-bottom: 23px;
}

.marketing-person-card-right {
  width: 315px;
}

.marketing-person-title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 149.8%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-bottom: 19px;
}

.marketing-person-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 149.8%;
  color: #FFFFFF;
  opacity: 0.7;
}

/* /////////////////////////////// */

.marketing-person-second {
  display: inline;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 149.8%;
  color: #FFFFFF;
  margin-left: 75px;
  margin-bottom: 29px;
  margin-right: 280px;
}

.tartib {
  display: flex;
  align-items: center;
}

.selection-button {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 149.8%;
  color: #2D2828;
  border-radius: 50px;
  background-image: url(../images/main_background.jpg);
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-right: 62px;
  border: 0;
  margin-bottom: 25px;
  width: 131px;
  height: 35px;
  position: relative;
}

.selection-red {
  margin-left: 9px;
  display: inline-block;
  background: #FF1640;
  width: 48px;
  height: 29px;
  border-radius: 50px;
  padding-left: 20px;
  padding-top: 1px;
  position: absolute;
  top: 3px;
  left: 70px;
}

.selection-white {
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  width: 27px;
  height: 27px;
  border-radius: 50px;
}

.marketing-person-card-second {
  display: flex;
  margin-bottom: 120px;
 }
 
 .marketing-person-card-left {
   background-image: url(../images/main_background.jpg);
   margin-left: 77px;
   width: 478px;
   padding-left: 17px;
   padding-right: 24px;
   padding-bottom: 23px;
   padding-top: 14px;
   display: flex;
   margin-right: 74px;
 }
 
 .person-info-left {
   display: flex;
   width: 130px;
 }
 
 .person-image {
   width: 55px;
   height: 55px;
   margin-right: 17px;
 }
 
 .image-second-wrapper {
   width: 24px;
   height: 24px;
   position: absolute;
   top: 515px;
   left: 151px;
 }
 
 .person-info {
   margin-right: 35px;
 }
 
 .person-name {
   display: inline-block;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 149.8%;
   color: #2D2828;
   margin-right: 34px;
 }
 
 .person-title {
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 149.8%;
   color: rgba(45, 40, 40, 0.7);
 }
 
 .person-info-right {
  margin-left:40px;
  margin-top: 5px;
 }
 
 .person-text-title {
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   line-height: 149.8%;
   color: #2D2828;
   margin-bottom: 11px;
 }
 
 .person-text {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 149.8%;
   color: #2D2828;
   width: 256px;
   margin-bottom: 23px;
 }
 
 .marketing-person-card-right {
   width: 315px;
 }
 
 .marketing-person-title {
   font-style: normal;
   font-weight: 600;
   font-size: 22px;
   line-height: 149.8%;
   color: #FFFFFF;
   opacity: 0.7;
   margin-bottom: 19px;
 }
 
 .marketing-person-text {
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 149.8%;
   color: #FFFFFF;
   opacity: 0.7;
 }

/* marketing section end */


/* sponsors start */

.sponsors-lists {
  margin-top: 1200px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.sponsors {
margin-left: 60px;
}

.sponsors-link {

}

.sponsors-logo1 {
width: 162px;
height: 55px;
}

.sponsors-logo2 {
width: 154px;
height: 154px;
}

.sponsors-logo3 {
width: 157px;
height: 53px;
}

.sponsors-logo4 {
width: 177px;
height: 118px;
}


/* sponsors end */

/* vendors section start */

.vendors-section {
  display: flex;
  list-style-type: none;
}

.vendors-card {
  width: 270px;
  margin-left: 60px;
  margin-bottom: 28px;
}

.vendors-image1 {
width: 89px;
height: 92px;
margin-left: 15px;
margin-bottom: 21px;
}

.vendors-image2 {
  width: 91px;
  height: 92px;
  margin-left: 15px;
  margin-bottom: 21px;
}

.vendors-image3 {
  width: 90px;
  height: 92px;
  margin-left: 15px;
  margin-bottom: 21px;
}

.firms-image1 {
width: 143px;
height: 34px;
margin-bottom: 50px;
}

.firms-image2 {
  width: 191px;
  height: 52px;
  margin-bottom: 38px;
  position: absolute;
}

.firms-image3 {
  width: 106px;
  height: 52px;
  margin-bottom: 34px;
}

.vendors-text-info {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 149.8%;
  color: #000000;
}

/* vendors section end  */

/* footer-section start  */

.footer-section {
  background-image: url(../images/footer_background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
  position: relative;
  top: -62px;
}

.circle {
  background: #FF1640;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin: auto;
}

.about {
  display: flex;
  margin-bottom: 108px;
}

.footer-logo-link {
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 100px;
}

.footer-logo-image {
  width: 162px;
  height: 31px;
}

.about-lists {
  display: flex;
  list-style-type: none;
}

.about-links {
margin-right: 65px;
margin-top: 10px;
}

.explore {
  list-style-type: none;
}

.explore-name {

}

.about-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 149.8%;
  color: #FFFFFF;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.explore-links {
  
}

.explore-info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.8%;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 11px;
}

.recources {
  list-style-type: none;
}

.recources-name {

}

.company-name {

}

.company {
  list-style-type: none;
  margin-right: 320px;
}

.about-title1 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 149.8%;
  color: #FFFFFF;
  margin-bottom: 22px;
}

.social-networks2 {
  width: 240px;
  height: 100px;
  position: absolute;
  top: 130px;
  left: 760px;
}

.popular-sites {
  list-style-type: none;
  display: flex;
}

.pages {
  margin-right: 20px;
  margin-bottom: 14px;
}
.pages:first-child {
  margin-left: 120px;
}

.team {
  margin-bottom: 11px;
  margin-left: 80px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 149.8%;
  text-align: right;
  color: #FFFFFF;
}

.team-info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 149.8%;
  text-align: right;
  color: #FFFFFF;
}

.thanks {
  background-color: #fff;
  padding-right: 35px;
  width: 385px;
  position: absolute;
  top: 320px;
  left: 340px;
}

.thanks-smile {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 39px;
  text-align: center;
  color: #000000;
}

.smile-image {
  width: 25px;
  height: 22px;
  position: absolute;
  top: 328px;
  left: 693px;
}

/* footer-section end  */
